*{
    margin: 0;
    padding:0;
    /* font-size: 1.3rem; */
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    /* display: flex; */
    width: 100%;
    height: fit-content;
}

.writing p
{
    border: #7e73f2 solid;
    border-radius: 0.5rem;
}

nav
{
    padding:1rem 0;
    border-bottom: black solid;
    background-color: #7e73f2;
    position: fixed;
    width: 100%;
}

ul{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
}
ul li a{
    color: rgb(142 255 166);
    text-decoration: none;
    padding: 8px 15px;
    position: relative;
    margin: 0 10px;
}

ul li :hover{
    border: solid orange;
    transition: 00.3s;
    background-color: crimson;
}

ul li a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.7s;
    box-sizing: border-box;
    top: 0%;
    left:0%;
    border-top: 2px solid yellow;
    border-left: 2px solid yellow;
}
ul li a::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.7s;
    box-sizing: border-box;
    bottom: 0%;
    right:0%;
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
}
ul li a:hover:before,
ul li a:hover:after{
    width: 10%;
    height: 20%;
    transform:rotate(360deg);
}

.content
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width:100%;
    background-color: black;
    color: white;
    font-size: 2rem;
}

.writing 
{
      padding-top: 20vh;
}

#ABOUT
{
    height: fit-content;
    background-color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 9vh 20vw;
    position: absolute;
}

.down-arrow{
    height: 12vh;
    overflow: hidden;
 } 

.pic_name
{
    display: flex;
    justify-content: start;
}

#profile_pic img{
    width: 180px;
    border-radius: 25%;
    max-width: 100%;
    height: auto;
    padding: 1rem;
}
#Name
{
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 8px;
    margin-top: 16px;
    text-align: left;
}

#Name h1{
    font-size: 1.5rem; 
} 

.Intro_writing{
    padding-top: 1vh;
    line-height: 1.35;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
}



#Edu
{
    padding-top: 15vh;
    text-align: justify;
}

.edu_ele
{
    display: flex;
    padding:2rem;
}

.edu_ele img
{
    padding-right: 3rem;
}

#Con
{
    text-align: justify;
    padding-top: 15vh;
}

.container{
    width: 100%;
    height: 100vh;
    background: #001660;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 1vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;

}

form input,form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #ff5361;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;

}
#Res{
    width: 100%;
}
#Res button a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
#Res button{
     margin-top: 1rem;
     height: 5rem;
     background-color: #7e73f2;
     width: 40%;
     font-size: 25px;
     border: transparent;
     box-shadow: 4px 4px lightskyblue;
}

#Res button:hover{
    background-image: linear-gradient(orange, white,green);
}
@keyframes fas
{
    0%{
        top: 0vh;
    }
    100%{
        bottom: 100vh;
    }
}
